{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail room-image mx-auto d-block"
                alt="room image">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Major's Suite</h1>
            <p class="text-center">
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to
                remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to
                remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to
                remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to
                remember.
                Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to
                remember.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">

            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>

        </div>
    </div>
</div>
{{end}}
{{define "js"}}
<script>
    AddCheckAvailabilityButtonListener("{{.CSRFToken}}", "1");
</script>
{{end}}